# Ignore data files in the data directory
data/*.nc

# Python caches
__pycache__

# Mac directory store
.DS_Store

# pyenv settings
.python-version

# HPC output files
*.pbs.sh.o*

# Output results files
global_splash_cru/results/*.nc
global_subdaily_gpp/results/*.nc
