# Ignore data files in the data directory
data/*.nc

# Python caches
__pycache__

# Mac directory store
.DS_Store

# pyenv settings
.python-version

# HPC output files
*.pbs.sh.o*

# Output results files
global_splash_cru/results/*.nc

# Keep Giulia's results files private
global_splash_cru/sites_comparison/giulia_splash_sites/*.csv